{% extends "base.html" %}
{% block title %} {{ page_name }} {% endblock %}
{% block external %}
<script type="text/javascript" src="site_media/jquery.js"></script>
<script type="text/javascript" src="site_media/react.js"></script>
<script type="text/javascript" src="site_media/JSXTransformer.js"></script>
<script type="text/jsx" src="site_media/js/submit.js"></script>
{% endblock %}
{% block head %}
<div id="title">Acquiring Raspberry Pi Server</div>
{% endblock %}
{% block content %}

<div id="container">
    
</div>

{% endblock %}
